<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="unified-admin-suite" configfailurepolicy="continue">
    <test name="unified-parallel-via-backend" parallel='classes' thread-count="1">
        <classes>
            <class name="StepDefs.RunCukesTest"/>
        </classes>
    </test>
</suite>
